@media only screen and (max-width: 767px){
    body{
        background-color: grey;
    }
    .container{
        position: relative;
        background-color: whitesmoke;
        -o-border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        border-radius: 30px;
    }
    .min-container{
        display: flex;
        flex-direction: column;
    }
    figure{
        display: flex;
        flex-direction: column;
        place-items: center;
    }
    .figureinfo{
        display: flex;
        flex-direction: column;
        position: relative;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-right: 40px;
    }
  
    nav{
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    }
   .nav-toggle{
    position: absolute;
    top: 10px;
    right: 10px;
   }
 
   .links {
    margin-top: 50px;
    margin-left: 10px;
    width: 100%;
    display:inline-block;
    background-color: #304cfd;
    height: 0;
    overflow: hidden;
    -o-transition:all 0.5s linear;
    -webkit-transition:all 0.3s linear;
    -moz-transition:all 0.3s linear;
    -ms-transition:all 0.3s linear;
    transition:all 0.3s linear;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
}

nav a:hover, nav a:focus{
    background-color: #304cfd;
    padding: 5px;
}
hr{
    margin-right: 60px;
    color: gray;
}
.show-links {
    height: auto;
  }
  .grid-container{
    display:flex;
    flex-wrap:wrap;
    flex-direction: column;
    align-items: center;
    /* gap:20px */
}
}
@media only screen and (min-width: 768px){
    body{
        background-color: grey;
    }
    .container{
        background-color: whitesmoke;
        /* margin: 20px; */
        -o-border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        border-radius: 30px;
    }
    .min-container{
        display: flex;
        flex-direction: row;
        overflow-y: auto;
    }
    .figureinfo{
        justify-content: flex-start;
        position: relative;
    }
    .nav-toggle{
        display: none;
    }
    nav a:hover, nav a:focus{
        background-color: #304cfd;
        -o-border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        border-radius: 5px;
        padding: 5px;
    }
}

nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
nav ul:first-child{
    margin-left: o;
}
nav ul:last-child{
    margin-right: 10px;
}
nav ul{
    display: flex;
}
nav li{
    margin-left: 20px;
    justify-content: space-between;
    list-style: none;
    text-decoration:none;
    text-transform: uppercase;
    padding: 10px;

}
nav a:link, nav a:visited{
    color: black;
    text-decoration: none;
}


.nav-toggle{
    font-size: 1.5rem;
    color: #49a6e9;
    background: transparent;
    border-color: transparent;
    -o-transition: all 0.3s linear;
    cursor: pointer;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.nav-toggle:hover {
    color: #49a6e9;
    transform: rotate(90deg);
  }

.fig-profile img{
    width: 200px;
    height: auto;
    -o-border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px;
    border: 1px gray solid;
}
figcaption{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    /* margin-left: 50px; */
    font-size: 22px;
    font-weight: bold;
}
.job-title{
    display: flex;
    flex-direction: column;
    background-color: rgb(211, 210, 210);
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 20px;
    -o-border-radius: 40px;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    border-radius: 40px;
}
.social-links{
    margin-top: 30px;
    margin-left: 50px;
    
}
.social-links a{
    margin-left: 30px;
    font-size: 25px;
    color: #706f6f;
}
.social-links i:first-child{
    margin-left: 0;
}
.location-email{
    margin-top: 30px;
    margin-left: 30px;
}
.fa-envelope,.fa-map-marker,.fa-whatsapp{
    font-size: 25px;
    color:#706f6f;
}
.location-email p{
    font-size: 20px;
    margin-left: 5px;
}
.social-links a:hover,
 .social-links a:focus,
 .location-email a:hover,
 .location-email a:focus{
    opacity: 0.6;
    cursor: pointer;
}
.some-info{
    margin: 30px;
    overflow:hidden;
    overflow-y: auto;
}
.projects{
    font-size: 18px;
}
.line-u{
    background-color:#304cfd;
    width: 53px;
    height: 4px;
    margin-top: 0;
    margin-left: 10px;
}
.ine{
    background-color: red;
    width: 20px;
    height: 4px;
}
.project{
    margin-bottom: 20px;
}

.fig-img{
    border: 1.5px solid #304cfd;
    -o-border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    border-radius: 20px;
    background-color:#cac9c9;
    position:relative;
}
.fig-img img {
    object-fit: cover;
    width:100%;
    height: 200px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.fig-img figcaption{
    margin-bottom:5px;
}
figcaption a{
    text-decoration: none;
    color:black;
    font-size:20px;
    text-align:left;
}
.grid-container{
    /* display:flex;
    flex-wrap:wrap;
    align-items: center; */
    /* gap:20px */
}
.proj-done{
    flex-grow: 0;
    flex-shrink: 5;
    /* flex: 0 0 250px; */
}
@media only screen and (min-width: 768px){
    .grid-container {
        /* margin-left:50px;
        margin-right:50px;
         display: flex;
        flex-wrap: wrap;
        justify-content: space-between;  */
        display:flex;
        flex-wrap:wrap;
        gap:20px
    }
    .proj-done{
        /* flex-grow: 0;
        flex-shrink: 5; */
        flex: 0 0 300px;
    }
}   